<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 上海麻将</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("headScripts", required: false)
    @RenderSection("css", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Stats","Mahjong")">上海麻将</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("Administrator") || User.IsInRole("Mahjong"))
                {
                    <li class="nav-item">@Html.ActionLink("新建玩家", "AddPlayer", "Mahjong", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("新开一局", "NewGame", "Mahjong", null, new { @class = "nav-link" })</li>
                }


                <li class="nav-item"> @Html.ActionLink("历史战绩", "History", "Mahjong", null, new { @class = "nav-link" })</li>
                <li class="nav-item"> @Html.ActionLink("排行榜", "LeaderBoard", "Mahjong", null, new { @class = "nav-link" })</li>
                <li class="nav-item"> @Html.ActionLink("数据统计", "Stats", "Mahjong", new { id = 0 }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        纪录
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("输赢", "Records", "Mahjong", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("胜负", "RoundRecords", "Mahjong", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">@Html.ActionLink("系统设置", "Index", "Admin", null, new { @class = "nav-link" })</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jay Tang</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        // jQuery plugin to prevent double submission of forms
        jQuery.fn.preventDoubleSubmission = function () {
            $(this).on('submit', function (e) {
                var $form = $(this);
                if ($form.data('submitted') === true) {
                    // Previously submitted - don't submit again
                    e.preventDefault();
                } else {
                    // Mark it so that the next submit can be ignored
                    $form.data('submitted', true);
                }
            });
            // Keep chainability
            return this;
        };
        $('form').preventDoubleSubmission();
    </script>
</body>
</html>
